html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-size: clamp(16px, 1vw, 40px);
}

#map {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #57655f;
}

/* Items */

#pan {
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pan img {
  z-index: 999;
  width: 1.25rem;
  height: 1.25rem;
}

.layer-control {
  transition: right 0.5s;
  position: absolute;
  right: 0;
  top: 10%;
  display: flex;
}

.layer-control-wrapper {
  z-index: 9999;
  padding: 0 0.938rem 1.25rem 0.938rem;
  background-color: #1d1d1d;
  color: #d4c9ba;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .layer-control-wrapper {
    padding: 0 0.5rem 1rem 0.5rem;
  }
}

/* .layer-control-wrapper.attractions {
  position: absolute;
  left: 0;
  top: 10%;
}

.layer-control-wrapper.services {
  position: absolute;
  right: 0;
  top: 10%;
} */

.layer-control-wrapper__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 1.25rem 0;
  border-bottom: 1px solid #d4c9ba;
}

@media screen and (max-width: 800px) {
  .layer-control-wrapper__title {
    font-size: 0.7rem;
    padding: 1rem 0;
  }
}

/* .layer-control-wrapper.attractions .item {
  background-color: #ec652b;
}

.layer-control-wrapper.services .item {
  background-color: #5391a1;
} */

.layer-control-wrapper .item {
  transition: all ease-in 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6.25rem;
  height: 6.25rem;
  cursor: pointer;
  margin-top: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .layer-control-wrapper .item {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
  }
}

.layer-control-wrapper .item:hover {
  /*transform: scale(1.1);*/
  transform: rotate(10deg);
}

.layer-control-wrapper .item .item__description {
  padding: 0 0.313rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.688rem;
}

@media screen and (max-width: 800px) {
  .layer-control-wrapper .item .item__description {
    padding: 0 0.2rem;
    font-size: 0.6rem;
  }
}

.layer-control-wrapper img {
  width: 3.125rem;
}

@media screen and (max-width: 800px) {
  .layer-control-wrapper img {
    width: 2rem;
  }
}

/* Popups */

#map .leaflet-popup {
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
}

#map .leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
  background-color: #1d1d1d;
  box-shadow: none;
}

#map .leaflet-popup .leaflet-popup-content {
  color: #d4c9ba;
  text-align: center;
}

#map .leaflet-popup .leaflet-popup-content .leaflet-popup__title {
  text-transform: uppercase;
}

#map .leaflet-popup .leaflet-popup-content .leaflet-popup__separation {
  margin: 0.625rem 0.625rem;
  height: 1px;
  background-color: #d4c9ba;
}

#map .leaflet-popup .leaflet-popup-content .leaflet-popup__description {
  margin: 0 0 0.625rem 0;
}

#map .leaflet-popup .leaflet-popup-content img {
  width: 40%;
}

#map .leaflet-popup .leaflet-popup-content a {
  cursor: pointer !important;
  font-size: 0.75rem;
}

#map .leaflet-popup .leaflet-popup-content a.leaflet-popup__button-open:hover {
  transition: all ease-in-out 0.2s;
  color: #d4c9ba;
  background-color: #1c825d;
}

#map .leaflet-popup .leaflet-popup-content .leaflet-popup__button {
  display: inline-block;
  text-decoration: none;
  color: #1d1d1d;
  cursor: default;
  padding: 0.8rem 1rem;
  outline: none;
  border: none;
  text-transform: uppercase;
}

#map
  .leaflet-popup
  .leaflet-popup-content
  .leaflet-popup__button.leaflet-popup__button-open {
  background-color: #1ca55d;
}

#map
  .leaflet-popup
  .leaflet-popup-content
  .leaflet-popup__button.leaflet-popup__button-closed {
  color: #d4c9ba;
  background-color: #d91f26;
}

#map .leaflet-popup .leaflet-popup-close-button {
  display: none;
}

#map .leaflet-popup .leaflet-popup-tip-container {
  display: none;
}

/* Leaflet controls */
.leaflet-bottom.leaflet-right {
  display: none;
}

.leaflet-control-container .leaflet-control-zoom {
  border: none !important;
}

.leaflet-control-container .leaflet-control-zoom .leaflet-control-zoom-in,
.leaflet-control-container .leaflet-control-zoom .leaflet-control-zoom-out {
  border-radius: 0 !important;
  background-color: #1d1d1d;
  color: #d4c9ba;
  border-color: #d4c9ba;
  box-shadow: none;
  outline: none;
}

.leaflet-top {
  top: initial !important;
  bottom: 20px !important;
}
